body{
    background-color: lightpink;
}

.container {
    width: 70%;
    margin: auto;
    text-align: center;
  }
  
.deelnemer {
    text-align: center;
    display: inline-block;
  
  }

#title{
    font-family: "Mali", serif;
    font-weight: 700;
    font-style: normal;
    color: darkred;
    font-size: 8rem;
    text-shadow: 5px 0 white;
    margin-bottom: 20px;
    margin-top: 20px;
  }

#diceLinks{
    width: 80%;
}

#diceRechts{
    width: 80%;
}


.speler{
    font-family: "Cookie", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    color: white;
    margin-bottom: 10px;
  }